black
celery
Django
django-filter
djangorestframework
djangorestframework-simplejwt
django-celery-beat
django-celery-results
django-cors-headers
django_debug_toolbar
django-redis
drf-nested-routers
drf-yasg
environs[django]
Faker
flake8
isort
Pillow
psycopg2-binary
pytest-django
pytest-factoryboy
pytest-mock
python-decouple
redis